/*CSS for styling the navigation menu*/
nav{
    background-color: aquamarine;
    color:aliceblue;
    padding: 10px;
}
nav ul{
    list-style-type: none;
    margin:0;
    padding:0;
}
nav ul li{
    display:inline;
    margin-right:20px ;
}
nav ul li a{
    color:blue;
    text-decoration: none;
}
nav ul li a:hover{
    text-decoration: underline;
}
section{
    padding:20px;
}
body{
    background-color:blanchedalmond;
}
footer{
    background-color:blueviolet;
    color:blanchedalmond;
    text-align: center;
    padding: 5px;
}